$PinotNoir:linear-gradient(to right, #4b6cb7, #182848);
$Alive:linear-gradient(to right, #cb356b, #bd3f32);
$SoundCloud:linear-gradient(to right, #fe8c00, #f83600);
$Terminal:linear-gradient(to right, #000000, #0f9b0f); 
